* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body,html {
    width: 100%;
    Font-size: 15px;
    font-family: 'Overpass Mono', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(216, 12%, 8%);
}


.wrapper {
    margin: 10px auto;
    padding: 30px;
    border-radius: 25px;
    max-width: 30%;
    background-color: hsl(213, 19%, 18%);
}

button {
    text-align: center;
    padding: 15px;
    border-radius: 20px;
    width: 100%;
    background-color: hsl(25, 97%, 53%);
    border: none;
    color:  hsl(0, 0%, 100%);
    margin: 20px 0;
} 

button:hover {
    background-color:  hsl(0, 0%, 100%);
    cursor: pointer;
    color: hsl(25, 97%, 53%);
} 


.feedback {
    display: flex;
    margin: 10px auto;
}

.one,.two,.three,.four,.five {
   color:  hsl(0, 0%, 100%);
   background-color:hsla(217, 12%, 63%,0.1);
   margin: 10px auto;
   padding: 12px 18px;
   border-radius: 50%;
   
}

.five:hover{
    background-color:  hsl(25, 97%, 53%);
    cursor: pointer;   
    color:  hsl(0, 0%, 100%);
}


 {
    background-color: hsl(213, 19%, 18%);
    width: 45px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 30px;
}


svg {
    position: relative;
    left: 15px;
    top: 12px;
}

h2 {
    color: hsl(0, 0%, 100%);
    margin-bottom: 15px;
}

p {
    color: hsl(217, 12%, 63%);
    margin-bottom: 25px;
}






/*@media only screen and (max-width: 600px) {
   .column {

    background-color: aqua;
    width: 100px;
   }
}